//.switch {
//  display: inline-block;
//  height: 34px;
//  position: relative;
//  width: 60px;
//
//  input {
//    display:none;
//  }
//}
//
//.slider{
//  background-color: #ccc;
//  bottom: 0;
//  cursor: pointer;
//  left: 0;
//  position: absolute;
//  right: 0;
//  top: 0;
//  transition: .4s;
//
//  &:before {
//    background-color: #fff;
//    bottom: 4px;
//    content: "";
//    height: 26px;
//    left: 4px;
//    position: absolute;
//    transition: .4s;
//    width: 26px;
//  }
//}
//
//input[type=checkbox] {
//  &:checked {
//    .slider {
//      background-color: #66bb6a;
//    }
//  }
//
//  &:checked + .slider {
//      &:before {
//        transform: translateX(26px);
//      }
//  }
//}
//
//.slider.round {
//  border-radius: 34px;
//
//  &:before {
//    border-radius: 50%;
//  }
//}
//
$color_checkbox_success:#4cd964;
$color_checkbox_default:#8E8E93;
$transition: .3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
$width: 5em;
$height: $width/2 + 0.3;

.toggle{

  .toggle-control{
    transition: $transition;
    width: $width;
    height: $height;
    display: block;
    border-radius: $height;
    background-color: rgba(black,.06);
    position: relative;
    &:after{
      transition: $transition;
      content: "";
      width: $width/2;
      height: $width/2;
      display: block;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0 1px 2px rgba(black, .4),0 3px 2px rgba(black,.4);
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  input{
    display: none;
    &:checked + .toggle-control{
      border-color: $color_checkbox_success;
      background-color: $color_checkbox_success;
      &:after{
        left: $width/2;
      }
    }
  }

  .toggle_input{

  }

}
