/** Base **/

.btn-rounded {
    @apply .rounded-full .cursor-pointer .leading-none .tracking-wide;
    @apply .font-bold .font-header;
    @apply .uppercase .text-sm;
}

.btn-small {
    @apply .py-2 .px-4;
}

.btn-large {
    @apply .py-4 .px-8;
}

.btn-outline {
    @apply .uppercase .text-sm .font-semibold .font-header;
    @apply .border .rounded;
    @apply .inline-block .leading-none .tracking-wide;
    @apply .py-2 .px-4;
}

.btn-outline:hover {
    @apply .border-blue .text-blue;
}

/** Blue **/

.btn-blue {
    @apply .btn-rounded .btn-large;
    @apply .bg-blue .text-white;
}

.btn-blue:hover {
    @apply .bg-green;
}

.btn-blue-small {
    @apply .btn-rounded .btn-small;
    @apply .bg-blue .text-white;
}

.btn-blue-small:hover {
    @apply .bg-green;
}

.btn-blue-outline {
    @apply .btn-outline;
    @apply .border-blue .text-blue;
}

.btn-blue-outline:hover {
    @apply .text-green .border-green;
}

/** Green **/

.btn-green {
    @apply .btn-rounded .inline-block .btn-large;
    @apply .bg-green .text-white;
}

.btn-green:hover {
    @apply .bg-blue;
}

.btn-green-small {
    @apply .btn-rounded .inline-block .btn-small;
    @apply .text-white .bg-green;
}

.btn-green-small:hover {
    @apply .bg-blue;
}

.btn-green-outline {
    @apply .btn-outline .border-green .text-green;
}

.btn-green-outline:hover {
    @apply .text-blue .border-blue;
}

/** Red **/

.btn-red {
    @apply .btn-rounded .inline-block .btn-large;
    @apply .bg-red .text-white;
}

.btn-red:hover {
    @apply .bg-black;
}

.btn-red-small {
    @apply .btn-rounded .inline-block .btn-small;
    @apply .bg-red .text-white;
}

.btn-red-small:hover {
    @apply .bg-black;
}

.btn-red-outline {
    @apply .btn-outline .border-red .text-red;
}

.btn-red-outline:hover {
    @apply .text-blue .border-blue;
}

/** White **/

.btn-white {
    @apply .btn-rounded .inline-block .btn-large;
    @apply .bg-white .text-blue-dark;
}

.btn-white:hover {
    @apply .bg-green;
}

.btn-white-small {
    @apply .btn-rounded .inline-block .btn-small;
    @apply .bg-white .text-blue-dark;
}

.btn-white-small:hover {
    @apply .bg-green;
}

.btn-white-outline {
    @apply .btn-outline .border-white .text-white;
}

.btn-white-outline:hover {
    @apply .border-green .text-green;
}

/** Yellow **/

.btn-yellow {
    @apply .btn-rounded .inline-block .btn-large;
    @apply .bg-yellow .text-white;
}

.btn-yellow:hover {
    @apply .bg-black;
}

.btn-yellow-small {
    @apply .btn-rounded .inline-block .btn-small;
    @apply .bg-yellow .text-white;
}

.btn-yellow-small:hover {
    @apply .bg-black;
}

.btn-yellow-outline {
    @apply .btn-outline .border-yellow .text-yellow;
}

.btn-yellow-outline:hover {
    @apply .text-blue .border-blue;
}

/** Misc **/

.btn-transition {
    transition: all 0.2s ease-in-out;
}

.btn-play {
    background: rgba(256, 256, 256, 0.85) url('data:image/svg+xml;utf8,<svg width="12" height="18" viewBox="0 0 12 18" xmlns="http://www.w3.org/2000/svg"><path d="M10.44 9l-8.813 7.119V1.88z" stroke="%2306205C" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"/></svg>') 56% center no-repeat;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 100%;
    @apply .btn-transition;
}

.btn-toggle {
    width: 14px;
    height: 8px;
    background: url('data:image/svg+xml;utf8,<svg width="14" height="8" viewBox="0 0 14 8" xmlns="http://www.w3.org/2000/svg"><path d="M12.657 1L7 6.657 1.343 1" stroke="%2331C09A" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round"/></svg>') center no-repeat;
    cursor: pointer;
    @apply .btn-transition;
}

.btn-skip {
    width: 32px;
    height: 20px;
    background: url('data:image/svg+xml;utf8,<svg width="20" height="12" viewBox="0 0 20 12" xmlns="http://www.w3.org/2000/svg"><path d="M18.532 1.112L9.888 9.757 1.243 1.112" stroke="%23FFF" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round"/></svg>') center no-repeat;
    cursor: pointer;
    position: absolute;
    left: 50%;
    bottom: 48px;
    transform: translateX(-50%);
    @apply .btn-transition;
}

.btn-skip:hover {
    transform: translateX(-50%) translateY(5px);
    opacity: 0.7;
}

.btn-arrow-back {
    width: 8px;
    height: 14px;
    background: rgba(256, 256, 256, 0.85) url('data:image/svg+xml;utf8,<svg width="8" height="14" viewBox="0 0 8 14" xmlns="http://www.w3.org/2000/svg"><path d="M7 1.343L1.343 7 7 12.657" stroke="%2331C09A" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round"/></svg>') center no-repeat;
    cursor: pointer;
    @apply .btn-transition;
}

.btn-more {
    width: 24px;
    height: 15px;
    background: rgba(256, 256, 256, 0.85) url('data:image/svg+xml;utf8,<svg width="24" height="5" xmlns="http://www.w3.org/2000/svg"><g transform="rotate(90 11.8 12)" fill="%23727477" fill-rule="evenodd"><circle cx="2.3" cy="2.3" r="2.3"/><circle cx="2.3" cy="11.5" r="2.3"/><circle cx="2.3" cy="20.7" r="2.3"/></g></svg>') center no-repeat;
    cursor: pointer;
    opacity: 0.2;
    transition: opacity 0.12s ease-in-out;
}

.btn-more:hover {
    opacity: 0.9;
}